<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/highstock/5.0.12/css/highcharts.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
  <link href="https://cdn.glitch.com/d9dde183-cbb3-4b0a-9fad-41d34359997b%2Ffavicon.jpg?1512998595305" rel="shortcut icon">
	<link href="https://cdn.glitch.com/d9dde183-cbb3-4b0a-9fad-41d34359997b%2Ffavicon.jpg?1512998595305" rel="apple-touch-icon">
	<title>FreeCodeCamp API - Chart the Stock Market</title>
</head>